<?xml version="1.0"?>

<launch>

 <!-- Map server -->
 
  <arg name="map_file" default="$(find uvd_navigation)/maps/robotics_lab.yaml"/>
  <!-- <arg name="map_file" default="/home/user/catkin_ws/src/my_map.yaml"/> -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  </node>

  <!-- AMCL -->
  <include file="$(find uvd_localization)/launch/localizer.launch"/>

  <!--- Run Move Base -->
  <include file="$(find uvd_move_base)/launch/move_base.launch">
  </include>

</launch>
